{% extends 'question_answer/base.html' %}

{% block content %}
    {% if perms.question_answer.has_copyboard %}
    <script>
    function copyToClipboard(element) {
        var text = $(element).clone().find('br').prepend('\r\n').end().text();
        element = $('<textarea>').appendTo('body').val(text).select();
        document.execCommand('copy');
        element.remove()
    }

    </script>
        <a href="{% url 'new_button' %}" class="btn btn-main btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
    {% for button in buttons %}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-xs-3 card-background">
            <h3 class="text-center button-title">{{ button.title }}</h3>
            <p hidden id="p{{ button.id }}">{{ button.body }}</p>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="copy" onclick="copyToClipboard('#p{{ button.id }}')" class="btn btn-main btn-tall btn-lg" title="{{ button.body }}"><span class="glyphicon glyphicon-check"></span></button><br/>
                </div>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{% url 'edit_button' url=button.url %}" class="btn btn-edit btn-md" title="Edit Data"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url 'delete_button_ask' url=button.url %}" class="btn btn-delete btn-md" title="Delete Button"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    {% if forloop.counter|divisibleby:4 %} </div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}