{% extends 'question_answer/base.html' %}

{% block content %}
    <h1>New Button</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}