{% extends 'question_answer/base.html' %}

{% block content %}
    <h1>Are you sure you want to delete button?</h1>
    <h3><b>Button name:</b> {{ button.title }}</h3>
    <p><b>Button text:</b><br/>{{ button.body }}</p>
    <a href="{% url 'delete_button' url=button.url %}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    <a href="{% url 'edit_button' url=button.url %}" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    <a href="{% url 'button_list' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>

{% endblock %}